<div id="@(Model.CardID)" class="card border-div hidden-card">
    <div style="@Model.TopLeftLabel.AdditionalCSS" class="card-label top left">@Model.TopLeftLabel.Label</div>
    <div style="@Model.TopCenterLabel.AdditionalCSS" class="card-label top centerColumn">@Model.TopCenterLabel.Label</div>
    <div style="@Model.TopRightLabel.AdditionalCSS" class="card-label top right">@Model.TopRightLabel.Label</div>
    <div style="@Model.CenterLeftLabel.AdditionalCSS" class="card-label centerRow left">@Model.CenterLeftLabel.Label</div>
    <div style="@Model.CenterLabel.AdditionalCSS" class="card-label centerRow centerColumn">@Model.CenterLabel.Label</div>
    <div style="@Model.CenterRightLabel.AdditionalCSS" class="card-label centerRow right">@Model.CenterRightLabel.Label</div>
    <div style="@Model.BottomLeftLabel.AdditionalCSS" class="card-label bottom left">@Model.BottomLeftLabel.Label</div>
    <div style="@Model.BottomCenterLabel.AdditionalCSS" class="card-label bottom centerColumn">@Model.BottomCenterLabel.Label</div>
    <div style="@Model.BottomRightLabel.AdditionalCSS" class="card-label bottom right">@Model.BottomRightLabel.Label</div>
</div>


<style type="text/css">
    #@(Model.CardID).border-div {
	    @if(Model.BackgroundImage != String.Empty)
        {
            @:background-image: url("@Model.BackgroundImage");
        }
        @if(Model.BackgroundColor != String.Empty)
        {
            @:background-color: @Model.BackgroundColor;
        }
    }       

    #@(Model.CardID) .top.left {
        @if(Model.TopLeftLabel.BackgroundImage != String.Empty)
        {
            @:background-image: url("@Model.TopLeftLabel.BackgroundImage");
        }
        @if(Model.TopLeftLabel.BackgroundColor != String.Empty)
        {
            @:background-color: @Model.TopLeftLabel.BackgroundColor;
        }
    }
    #@(Model.CardID) .top.centerColumn {
        @if(Model.TopCenterLabel.BackgroundImage != String.Empty)
        {
            @:background-image: url("@Model.TopCenterLabel.BackgroundImage");
        }
        @if(Model.TopCenterLabel.BackgroundColor != String.Empty)
        {
            @:background-color: @Model.TopCenterLabel.BackgroundColor;
        }
    }
    #@(Model.CardID) .top.right {
        @if(Model.TopRightLabel.BackgroundImage != String.Empty)
        {
            @:background-image: url("@Model.TopRightLabel.BackgroundImage");
        }
        @if(Model.TopRightLabel.BackgroundColor != String.Empty)
        {
            @:background-color: @Model.TopRightLabel.BackgroundColor;
        }
    }
    #@(Model.CardID) .centerRow.left {
        @if(Model.CenterLeftLabel.BackgroundImage != String.Empty)
        {
            @:background-image: url("@Model.CenterLeftLabel.BackgroundImage");
        }
        @if(Model.CenterLeftLabel.BackgroundColor != String.Empty)
        {
            @:background-color: @Model.CenterLeftLabel.BackgroundColor;
        }
    }
    #@(Model.CardID) .centerRow.centerColumn {
        @if(Model.CenterLabel.BackgroundImage != String.Empty)
        {
            @:background-image: url("@Model.CenterLabel.BackgroundImage");
        }
        @if(Model.CenterLabel.BackgroundColor != String.Empty)
        {
            @:background-color: @Model.CenterLabel.BackgroundColor;
        }
    }
    #@(Model.CardID) .centerRow.right {
        @if(Model.CenterRightLabel.BackgroundImage != String.Empty)
        {
            @:background-image: url("@Model.CenterRightLabel.BackgroundImage");
        }
        @if(Model.CenterRightLabel.BackgroundColor != String.Empty)
        {
            @:background-color: @Model.CenterRightLabel.BackgroundColor;
        }
    }
    #@(Model.CardID) .bottom.left {
        @if(Model.BottomLeftLabel.BackgroundImage != String.Empty)
        {
            @:background-image: url("@Model.BottomLeftLabel.BackgroundImage");
        }
        @if(Model.BottomLeftLabel.BackgroundColor != String.Empty)
        {
            @:background-color: @Model.BottomLeftLabel.BackgroundColor;
        }
    }
    #@(Model.CardID) .bottom.centerColumn {
        @if(Model.BottomCenterLabel.BackgroundImage != String.Empty)
        {
            @:background-image: url("@Model.BottomCenterLabel.BackgroundImage");
        }
        @if(Model.BottomCenterLabel.BackgroundColor != String.Empty)
        {
            @:background-color: @Model.BottomCenterLabel.BackgroundColor;
        }
    }
    #@(Model.CardID) .bottom.right {
        @if(Model.BottomRightLabel.BackgroundImage != String.Empty)
        {
            @:background-image: url("@Model.BottomRightLabel.BackgroundImage");
        }
        @if(Model.BottomRightLabel.BackgroundColor != String.Empty)
        {
            @:background-color: @Model.BottomRightLabel.BackgroundColor;
        }
    }
 
</style>
